nav {
    padding: 0px 15px;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

html, body {
   height: 100%;
   width: 100%;
   margin: 0px;
}



.nav-bar button {
    width: 50px;
    height: 50px;
}

section {
    display: flex;
    width: 100%;
    height: 90%;
    flex-direction: row;
    display: flex;
    align-items: center;
}

#note-card-container {
    list-style-type: none;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 0.5%;
    padding: 0 10px;
}
.note-card {
    display: flex;
    float: left;
    flex-direction: column;
    list-style-type: none;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 10px;
    height: calc(70vh/6);
    width: calc(86vw/6);
    overflow: hidden;

}


.note-card p {
    width: 95%;
    height: 100%;
    font-size: 12px;
    font-family: sans-serif;
    word-wrap: break-word;
    position: relative;
    z-index: 1;
    margin-top: 15px;
    pointer-events: none;
    overflow-y: hidden;
}

.note-card textarea {
    position: absolute;
    min-width: 13.5%;
    min-height: 5.5%;
    border: none;
    resize: none;
    outline: none;
    z-index: 5;
    font-size: 12px;
    font-family: sans-serif;
    margin-top: 15px;
}

#close-button {
    position: relative;
    bottom: 90%;
    left: 48%;
    right: 0px;
    border: none;
    outline: none;
    background: none;
    font-size: 10px;
    width: 8px;
    text-align: center;
    margin: auto; 
    color: grey;
}

#close-button:hover {
    color: black;
    font-weight: bolder;
}

#save-button {
    width: 45px;
    height: 18px;
    margin-left: 5px;
    position: relative;
    left: 80%;
    top: 10%;
}

#selected {
    border: 3px solid rgb(60, 183, 224);
}

li:hover {
    border: 2px solid lightblue;
}